.btn {
	border-radius: 2px;
	outline: none;
}

.btn-primary {
	background-color: $primary;
	color: $primary-white;
	border: 1px solid $primary-white;
}

.btn-outline {
	background-color: transparent;
	color: $primary-white;
	padding: 8px 20px;
	border: 1px solid $primary-white;
	transition: all 0.3s ease-out;
}

.btn-medium {
	padding: 12px 25px;
	font-size: 20px;
}

.btn-large {
	padding: 12px 10px;
	font-size: 20px;
	width: 190px;
}

.btn-medium,
.btn-large {
	&:hover {
		background-color: $primary-white;
		color: $primary-black;
		transition: all 0.3s ease-out;
	}
}
