.calculator-title {
	padding: 10px;
	margin-top: 1rem;
}

.calculator-container {
	margin: 2rem;
	border-radius: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.288);
	background-color: $dark-purple;
	color: $primary-white;
	width: auto;
	height: auto;
	padding: 20px;
	overflow-y: scroll;
}

@media screen and (max-width: 768px) {
	.calculator-title {
		font-size: 2rem;
		padding: 10px;
		margin-top: 1rem;
	}
	.calculator-container {
		border-radius: 20px;
		background-color: transparent;
		box-shadow: none;
		color: $primary-white;
		min-width: 350px;
		max-width: 600px;
		height: 700px;
		padding: 2rem;
	}
}
