.deal-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: $dark-purple;
	padding: 20px;
	border-radius: 20px;
	min-width: 450px;
	max-width: 600px;
	min-height: 490px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.288);

	h1 {
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.deal-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: $dark-purple;
		margin: 1rem;
		padding: 20px;
		border-radius: 20px;
		min-width: 350px;
		max-width: 600px;
		box-shadow: 0 15px 50px rgba(0, 0, 0, 0.288);

		h1 {
			margin-bottom: 1.5rem;
			font-size: 1.4rem;
		}
	}
}
