.newsletter-form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;

	input {
		width: 350px;
	}
}

@media screen and (max-width: 768px) {
	form {
		margin-top: 0px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		input {
			margin-top: 20px;
		}
	}

	.newsletter-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 70%;
		max-width: 370px;
		min-width: 375px;
		margin: 2rem;
	}
}
