//Colors

$primary: rgb(233, 66, 66);
$secondary: rgba(255, 255, 0, 0.966);
$dark-purple: rgb(67, 67, 119);
$light-purple: rgb(100, 100, 207);
$primary-white: rgb(255, 255, 255);
$input-color: transparent;
$primary-black: rgb(0, 0, 0);
